html {
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  /* font-family: 'Chester', monospace; */
  font-family: 'Press Start 2P';
  cursor: url('/assets/images/cursor.png'), auto;
}

img {
  image-rendering: pixelated;
}

#gamewindow {
  height: 100vh;
  width: 100vw;
  display: flex;
  /* padding: 6rem; */
  border-image-slice: 60 60 60 60;
  border-image-width: 60px 60px 60px 60px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url('/assets/images/bgbordernofill1.png');

  border-style: solid;

  background: rgb(233, 223, 196);

  background: -moz-linear-gradient(
    left,
    rgba(233, 223, 196, 1) 0%,
    rgba(233, 223, 196, 1) 1%,
    rgba(237, 227, 200, 1) 2%,
    rgba(237, 227, 200, 1) 24%,
    rgba(235, 221, 195, 1) 25%,
    rgba(233, 223, 196, 1) 48%,
    rgba(235, 221, 195, 1) 49%,
    rgba(230, 216, 189, 1) 52%,
    rgba(230, 216, 189, 1) 53%,
    rgba(233, 219, 192, 1) 54%,
    rgba(230, 216, 189, 1) 55%,
    rgba(230, 216, 189, 1) 56%,
    rgba(233, 219, 192, 1) 57%,
    rgba(230, 216, 189, 1) 58%,
    rgba(230, 216, 189, 1) 73%,
    rgba(233, 219, 192, 1) 74%,
    rgba(233, 219, 192, 1) 98%,
    rgba(235, 221, 195, 1) 100%
  );

  background: -webkit-linear-gradient(
    left,
    rgba(233, 223, 196, 1) 0%,
    rgba(233, 223, 196, 1) 1%,
    rgba(237, 227, 200, 1) 2%,
    rgba(237, 227, 200, 1) 24%,
    rgba(235, 221, 195, 1) 25%,
    rgba(233, 223, 196, 1) 48%,
    rgba(235, 221, 195, 1) 49%,
    rgba(230, 216, 189, 1) 52%,
    rgba(230, 216, 189, 1) 53%,
    rgba(233, 219, 192, 1) 54%,
    rgba(230, 216, 189, 1) 55%,
    rgba(230, 216, 189, 1) 56%,
    rgba(233, 219, 192, 1) 57%,
    rgba(230, 216, 189, 1) 58%,
    rgba(230, 216, 189, 1) 73%,
    rgba(233, 219, 192, 1) 74%,
    rgba(233, 219, 192, 1) 98%,
    rgba(235, 221, 195, 1) 100%
  );

  background: -o-linear-gradient(
    left,
    rgba(233, 223, 196, 1) 0%,
    rgba(233, 223, 196, 1) 1%,
    rgba(237, 227, 200, 1) 2%,
    rgba(237, 227, 200, 1) 24%,
    rgba(235, 221, 195, 1) 25%,
    rgba(233, 223, 196, 1) 48%,
    rgba(235, 221, 195, 1) 49%,
    rgba(230, 216, 189, 1) 52%,
    rgba(230, 216, 189, 1) 53%,
    rgba(233, 219, 192, 1) 54%,
    rgba(230, 216, 189, 1) 55%,
    rgba(230, 216, 189, 1) 56%,
    rgba(233, 219, 192, 1) 57%,
    rgba(230, 216, 189, 1) 58%,
    rgba(230, 216, 189, 1) 73%,
    rgba(233, 219, 192, 1) 74%,
    rgba(233, 219, 192, 1) 98%,
    rgba(235, 221, 195, 1) 100%
  );

  background: -ms-linear-gradient(
    left,
    rgba(233, 223, 196, 1) 0%,
    rgba(233, 223, 196, 1) 1%,
    rgba(237, 227, 200, 1) 2%,
    rgba(237, 227, 200, 1) 24%,
    rgba(235, 221, 195, 1) 25%,
    rgba(233, 223, 196, 1) 48%,
    rgba(235, 221, 195, 1) 49%,
    rgba(230, 216, 189, 1) 52%,
    rgba(230, 216, 189, 1) 53%,
    rgba(233, 219, 192, 1) 54%,
    rgba(230, 216, 189, 1) 55%,
    rgba(230, 216, 189, 1) 56%,
    rgba(233, 219, 192, 1) 57%,
    rgba(230, 216, 189, 1) 58%,
    rgba(230, 216, 189, 1) 73%,
    rgba(233, 219, 192, 1) 74%,
    rgba(233, 219, 192, 1) 98%,
    rgba(235, 221, 195, 1) 100%
  );

  background: linear-gradient(
    left,
    rgba(233, 223, 196, 1) 0%,
    rgba(233, 223, 196, 1) 1%,
    rgba(237, 227, 200, 1) 2%,
    rgba(237, 227, 200, 1) 24%,
    rgba(235, 221, 195, 1) 25%,
    rgba(233, 223, 196, 1) 48%,
    rgba(235, 221, 195, 1) 49%,
    rgba(230, 216, 189, 1) 52%,
    rgba(230, 216, 189, 1) 53%,
    rgba(233, 219, 192, 1) 54%,
    rgba(230, 216, 189, 1) 55%,
    rgba(230, 216, 189, 1) 56%,
    rgba(233, 219, 192, 1) 57%,
    rgba(230, 216, 189, 1) 58%,
    rgba(230, 216, 189, 1) 73%,
    rgba(233, 219, 192, 1) 74%,
    rgba(233, 219, 192, 1) 98%,
    rgba(235, 221, 195, 1) 100%
  );

  background-size: 120px;
  background-repeat: repeat;
}

#gamecontainer {
  display: flex;
  justify-content: center;
  background-color: #563232;
  background-color: rgba(86, 50, 50, 0.5);
  width: fit-content;
  height: fit-content;
  margin: auto auto;
  justify-self: center;
  align-self: center;
  border-image-slice: 60 60 60 60;
  border-image-width: 60px 60px 60px 60px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url('/assets/images/bgbordernofill2.png');
  border-radius: 0.5rem;
  border-style: solid;
}
.player-card {
  flex-grow: 1;
  display: flex;

  justify-content: flex-start;
  align-items: center;
  /* flex-flow: column; */
  flex-direction: column;
  padding: 2rem 4rem;
}

.player-card h1 {
  font-size: 1.5rem;
}

#p1score-total,
#p2score-total {
  font-size: 2rem;
  padding-bottom: 10rem;
}

.game-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-image-slice: 60 60 60 60;
  border-image-width: 60px 60px 60px 60px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url('/assets/images/bgbordernofill3.png');
  border-style: solid;
  padding: 2rem 2rem;
}
.current-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  flex-grow: 1;
  border-image-slice: 60 60 60 60;
  border-image-width: 60px 60px 60px 60px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url('/assets/images/bgbordernofill2.png');
  border-style: solid;
  width: 100%;
  background-color: rgba(86, 50, 50, 0.3);
  border-radius: 0.4rem;
}
.current-score h3 {
  font-size: 1rem;
}
.current-score h4 {
  font-size: 1.5rem;
}

.btn {
  background-color: #e7cfb4;
  border: #563232 3px solid;
  border-radius: 5px;
  font-family: 'Press Start 2P';
  padding: 0.5rem 0.3rem;
  cursor: url('/assets/images/cursor-click.png'), pointer;
}
